name: Deploy to GitHub Pages

on:
  push:
    branches: [ main, master ]

jobs:
  deploy-to-github-pages:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      
      # .NET 10 (Visual Studio 2026) の環境を用意
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      # アプリをWeb用に変換（発行）
      - name: Publish .NET Project
        run: dotnet publish -c Release -o release --nologo

      # GitHub Pages に公開
      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: release/wwwroot
